*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    
}

:root {
    --highlight: #FCDC2A;
    --background: #114232
}

.bg-img {
    background: url('../img/img_large.jpg') no-repeat; 
    background-size: cover;
    background-position: center;
}

#welcome {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome div {
    color: white; /* Darker orange text for contrast */
    padding: 20px;
    border-radius: 8px;
    text-align: center; /* Centered text */
    max-width: 900px;
}

#secure {
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    background-image: url("../img/freepik__candid-image-photography-natural-textures-highly-r__65477.jpeg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 70%;
    height: 100vh;
    align-items: center;
    position: relative;
    z-index: 6;
}





.secure-bg {
    background-color: transparent;
    backdrop-filter: blur(20px);
    padding: 20px;
    width: 600px;
    background-position: 50% 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 10px;
}

.gap {
    padding-bottom: 5px !important;
    border-bottom: 2px solid rgba(255,255,255,.2);
    padding: 0px 20px;
}

.secure-desc {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.title {
    color: greenyellow;
    font-size: 36px;
}

.sub-title {
    font-size: 24px;
    margin-top: 10px;
}

#news {
    height: auto;
    background-color: black;
    color: #f2f2f2;
    padding: 30px;
}

.new-detail {
    padding-bottom: 10px;
    max-width: 600px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.content {
    display: none; /* Semua konten disembunyikan secara default */
  }
  
  .content.active {
    display: block; /* Konten yang aktif ditampilkan */
  }

.medium {
    font-size: 30px !important;
}

.list-new {
    
    padding: 10px 0px;
}

.list {
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.border {
    border-bottom: 1px solid #ffffff90;
}

.list:hover {
    transform: translateX(10px);
}

.transition {
    height: 40vh;
    margin-top: -40vh;
    background: linear-gradient(to top, black, #ffffff00);
    position: relative;
    z-index: 7;
}

.transition-bot {
    height: 40vh;
    margin-bottom: -40vh;
    position: relative;
    background: linear-gradient(to bottom, black, #ffffff00);
    z-index: 7;
}

#bullet {
    background-color: black;
    padding: 20px;
}

#gap-1 {
    display: flex;
    width: 25%;
    justify-content: end;
    min-width: 600px;
}

#gap-2 {
    display: flex;
    width: 50%;
    justify-content: end;
    min-width: 600px;
}

#gap-3 {
    display: flex;
    width: 75%;
    justify-content: end;
    min-width: 600px;
}

#gap-4 {
    display: flex;
    width: 100%;
    justify-content: end;
    min-width: 600px;
}

.number {
    padding-right: 25px;
    margin-right: 25px;
    padding-left: 10px;
    border-right: 1px solid white;
}

.point {
    color: white;
    display: flex;
    background-color: red;
    width: 600px;
    margin: 20px 0px;
    padding: 20px;
    border-radius: 40px;
}

.point h2 {
    font-size: 30px;
}

header a{
    font-family: Georgia;
    color: #fff;
    font-weight: 1000;
    cursor: pointer;
    text-decoration: none;
}

#head img {
    height: 40px;
    margin-right: 10px;
}

#head {
    transition: 0.3s ease-out;
    align-items: center;
    display: flex;
}

header {
    background-color: rgba(255, 255, 255, 0);  
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    top: -10px;
    box-shadow: 3px 0px 9px 3px black;
    z-index: 9999;
}

#head:hover{
    color: orange;
    transform: scale(1.1);
}

button:not(.animated-button) {
    background: linear-gradient(145deg, #070707, #003cff);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    padding: 8px 25px;
    width: 110px;
    text-align: center;
    transition: all 0.3s ease;
}

button:not(.animated-button):hover {
    background: greenyellow;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    transform: translateY(-2px);
    color: #000000;
}

button:not(.animated-button) a {
    color: #000000; /* Change this to your desired color */
    text-decoration: none;
}

/* Animated button */
.animated-button {
    background: none;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 36px;
    border: 2px solid;
    border-color: black;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color:#333;
    box-shadow: 0 0 0 2px grey;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    width: 140px;
    text-align: center;
    background-color:#f2f2f2;
  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: rgb(0, 0, 0);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: greenyellow;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover svg {
    fill: #212121;
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px greenyellow;
  }
  
  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }
  

/* Welcome Message Styles */



.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 100vh;
}

.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

#register .input-box{
    margin: 13px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}



.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.btn:hover{
    background-color: rgb(56, 89, 139);
    color: whitesmoke;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
}

.register-link a{
    font-weight: bold;
}

.register-link p a:hover{
    color: rgb(0, 241, 101);
    text-decoration: underline;
}

.hidden{
    display: none;
}

header {
    padding: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    justify-content: space-between;
    padding: 10px;
}

nav a{
    text-decoration: none;
}


footer {
    color: #f2f2f2;
    padding: 10px;
    
    background-color: black;
    width: 100%;
    height: 200px;
    font-family: Arial, sans-serif;
    display: flex;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-nav a {
    text-decoration: none;
    color: grey;
}

.footer-nav a:hover {
    color: white;
}

.footer-links a {
    text-decoration: none;
    color: grey;
    margin: 0px 35px;
}

.footer-links a:hover {
    color: white;
}

@media (max-width: 768px) {

    .container{
        padding: 190px 10px;
        height: 100%;
    }


    header{
        padding: 10px 40px;
        padding-top: 40px;
    }

    header h1{
        margin-bottom: 3.5vh;
    }

    footer {
        flex-direction: column;
    }
    
    .point {
        color: white;
        display: flex;
        background-color: red;
        width: 300px;
        
        padding: 20px;
        border-radius: 40px;
    }

    .point h2 {
        font-size: 16px;
    }
    
    #gap-4, #gap-2, #gap-3, #gap-1 {
        display: flex;
        width: auto;
        justify-content: center;
        min-width: 0px;
    }
    
    #bullet {
        background-color: black;
        padding: 0px;
    }

    .footer-links a {
        text-decoration: none;
        color: grey;
        margin: 0px 25px;
    }

    .title {
        font-size: 20px;
    }

    .sub-title {
        font-size: 16px;
    }
}

/* For mobile phones */
@media (max-width: 576px) {
    
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

}   

@media (max-width: 459px){
    .wrapper{
        width: 95%;
        padding: 15px 40px;
    }
}
